*,
*:before,
*:after {
  box-sizing: border-box;
}

/* style body */
body {
  color: #000000;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  padding-top: 60px;
  line-height: 150%;
  letter-spacing: 0.5px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 40%;
}

/* tweak default spacing between headers and paragraphs */
.header {
  margin-bottom: 20px;
}

p {
  margin-bottom: 22px;
}

/* style header and links */
.header ul {
  padding: 0px;
  margin: 0px;
}

.header li {
  display: inline-block;
  font-weight: bold;
}

/* style other links */
ul {
  list-style: none;
  padding-left: 0;
}

li {
  display: block;
  padding-bottom: 5px;
}


a:link {
  color: #466db2;
  text-decoration: none;
}

a:visited {
  color: #466db2;
  text-decoration: none;
}

a:hover {
  color: #2db34a;
  border-bottom: 1px solid #cccccc;
  transition: color 0.25s;
}

/* style header links without an underline */
.header a:hover {
  border-bottom: none;
}

/* tweak default background selection color */
::selection {background-color: #d5eef8;}

/* style for tablets and phones */
@media screen and (max-width: 600px) {
  body {width: 80%;}
}
