*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

main {
  letter-spacing: .01rem;
}

/* styling nav bar */
.navbar {
  padding: 0.25rem 0.5rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0.1rem 0;
  }
}

a.nav-link,
a.nav-link:visited {
  font-size: 1rem;
  font-weight: bolder;
  color: #e5e5e5;
  transition: 0.3s ease-in-out;
}

/* fading out siblings on nav link hover */
.navbar:hover a:not(:hover),
.navbar:focus-within a:not(:focus) {
  opacity: 0.6;
}

.navbar:hover {
  opacity: 1;
}

.navbar {
  pointer-events: none;
}

.navbar > a {
  pointer-events: auto;
}

a.nav-link:active {
  transform: scale(0.99);
}

/* styling paragraph and card text */
.home h4 {
  font-size: 1.4rem;
  font-weight: 600;
}

.home p.lead {
  padding-bottom: 0.4rem;
  font-weight: 350;
  font-size: 1.2rem;
}

p.lead a:link,
.card-body a:link,
p.lead a:visited,
.card-body a:visited {
  color: #2a5aa7;
  font-weight: 600;
  background-image: linear-gradient(transparent 80%, #dbe4ff 0);
  transition: all 0.1s ease-in-out;
}

p.lead a:hover,
.card-body a:hover {
  color: #222;
  background-image: linear-gradient(transparent 80%, #bac8ff 0);
  text-decoration: none;
}

/* style essay links */
.list-group-item {
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: 4px;
  letter-spacing: .02rem;
  color: rgba(0, 0, 0, 0.9);
  font-family: 'Inter', sans-serif;
}

.list-group-item:link {
  transition: 0.2s ease-in-out;
}

.list-group-item:hover {
  padding: 0.75rem 1.25rem 0.75rem 1.4rem;
  background-color: #f8f8f8;
  color: rgba(0, 0, 0, 0.9);
}

span.date {
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: .02rem;
}

/* styling cards */
.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-row-gap: 1.2rem;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: 0.2s ease-in-out;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.4) 0px 1px 2px;
}

/* styling writing */
div.post {
  font-size: 0.825rem;
  margin-top: 2.5rem;
}

em.updated,
em.description {
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin-left: 2px;
}

em.updated {
  color: grey;
}

div.post a:link,
div.post a:visited {
  text-decoration-line: underline;
  text-underline-offset: 2px;
  text-decoration-color: rgba(55, 53, 47, 0.4);
  color: rgba(55, 53, 47, 1);
  opacity: 0.7;
}

div.post a:hover {
  text-decoration-color: rgba(55, 53, 47, 0.8);
  opacity: 1;
}

div.post a.link-back:link,
div.post a.link-back:visited {
  text-decoration: none;
  color: #007bff;
}

blockquote.blockquote {
  padding: 0 1rem;
  font-size: 0.875rem;
  border-left: 3px solid black;
  line-height: 1.65rem;
}

div.post hr.divider {
  margin: 2rem 0;
}

iframe.podcast {
  height: 10rem;
  border: none;
}

figure > figcaption.figure-caption {
  margin: 5px 0 0 2px;
  font-size: 0.7rem;
}

@media screen and (max-width: 768px) {
  figure > img {
    height: 7rem;
  }
}

@media screen and (min-width: 769px) {
  figure > img {
    height: 9.5rem;
    width: 100%;
  }
}

code {
  margin: 0 1px;
  padding: 2px;
  background-color: rgba(55, 53, 47, 0.05);
}

div.post > details > summary {
  outline: none;
  padding-bottom: 0.5rem;
}

div.post > details > ul {
  line-height: 1.5rem;
}

div.post ul,
details > ul {
  line-height: 2rem;
  margin-bottom: 1.25rem;
}

/* styling notes */
div.notes {
  margin-top: 2.5rem;
}

div.notes > details {
  font-size: 85%;
}

div.notes > details > summary::-webkit-details-marker {
  display: none;
}

div.notes > details > summary::after {
  content: "+";
  float: right;
  margin-right: 3px;
}

div.notes > details > summary {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  padding: 6px 6px 5px 6px;
  border-radius: 4px;
  width: 98%;
  transition: 0.1s ease-in-out;
}

div.notes > details:hover > summary {
  background-color: #f8f8f8;
}

div.notes > details[open] > summary::after {
  content: "-";
  margin-right: 5px;
}

div.notes > details > div.alert-secondary {
  font-size: 95%;
  padding: 1rem;
  margin: 0.5rem 1rem 0 0.5rem;
  background-color: #f5f2f0;
  border: none;
  font-family: 'Inter', sans-serif;
}

div.notes > details > p {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  padding-left: 0.5rem;
}

div.notes > details > ul {
  line-height: 1.65rem;
  padding-left: 1.75rem;
  margin-bottom: 1.5rem;
}

div.notes > details > ul > li > ul {
  padding-left: 1.5rem;
  list-style-type: disc;
}

div.notes a:link,
div.notes a:visited {
  text-decoration-line: underline;
  text-underline-offset: 2px;
  text-decoration-color: rgba(55, 53, 47, 0.4);
  color: rgba(55, 53, 47, 1);
  opacity: 0.7;
}

div.notes a:hover {
  text-decoration-color: rgba(55, 53, 47, 0.8);
  opacity: 1;
}

/* styling footer */
.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a:hover {
  opacity: 0.5;
  text-decoration: none;
}

/* styling text highlight selection */
::selection {
  background-color: rgba(179, 212, 251, 0.6);
}
