*, *:before, *:after {box-sizing: border-box;}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

li {
  display: inline-block;
  font-weight: bold;
}

body {
  color: #000000;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  padding-top: 60px;
  line-height: 150%;
  letter-spacing: 0.5px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 40%;
}

p {margin-top: 20px;}

@media screen and (max-width: 600px) {
  body {width: 80%;}
}

a:link {
  color: #466db2;
  text-decoration: none;
}

a:visited {
  color: #466db2;
  text-decoration: none;
}

a:hover {
  color: #2db34a;
  border-bottom: 1px solid #cccccc;
  transition: color 0.25s;
}

.header a:hover {
  border-bottom: none;
}

::selection {background-color: #d5eef8;}
